.contact__form .form-control {
    width: calc(100% - 25px);
    padding: .9rem .35rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 0 !important;
    border: 1px solid var(--secondary-color);
}

.contact__form input.form-control {
    margin-bottom: 1em;
    height: calc(0.1em);
}

.contact__form textarea.form-control {
    margin-bottom: 1em;
    height: calc(15em);
    resize: none;
}

button.btn.ac_btn {
    color: black;
}

button.btn.ac_btn:hover {
    color: green;
    font-weight: bold;
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    z-index: 999999999;
    background: var(--text-color);
    transform: translateX(100%);
    animation: shift-rightwards 1s ease-in-out infinite;
    animation-delay: .3s;
}

@keyframes shift-rightwards {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(0%);
    }
    60% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@media (min-width: 1200px) {
    .split-screen-container {
        display: flex;
        flex-direction: row;
        /*height: 100vh;*/
        align-items: center;
        justify-content: center;
    }

    .split-section {
        padding: 20px;
    }

    /* Add specific styles for each section if needed */
    .split-section:nth-child(1) {
        flex: 1;
    }

    .split-section:nth-child(2) {
        flex: 3;
    }
}
