@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

$ubuntu_green: #8be331;
$ubuntu_blue: #739ece;
$ubuntu_white: #ffffff;
$ubuntu_font:'Ubuntu Mono', monospace;

.ubuntu {
  padding: 0;
  overflow: hidden;
  border-radius: 1em;

  font-family: $ubuntu_font;
  box-shadow: 0 0 2rem rgba(33, 150, 243, 0.5);

  &__navigation-bar {
    height: 2.5em;
    background-color: #312f30;
    color: $ubuntu_white;
    padding: 0 .4em;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }

  &__body {
    min-height: 15em;
    padding: .1em .3em;

    font-size: large;
    cursor: default;

    background: #300a24;
    color: #d4f9ee;

  }

  .nb {
    &__center{
      justify-self: center;
      font-weight: 300;
      cursor: default;
      user-select: none;
    }

    &__right {
      justify-self: end;
      display: grid;
      grid-template-columns: repeat(4, 1fr) min-content;
      column-gap: 1em;

      justify-items: center;
      align-items: center;
    }
  }

  .command {
    &__green {
      color: rgba(33, 150, 243, 0.5);
    }
    &__white {
      color: $ubuntu_white;
    }

    &__blue {
      color: $ubuntu_blue;
    }
  }
}

.custom {
  height: 1em;
}

.close {
  color: #312f30;
}

.custom:hover .close {
    color: #e25728;
}

.raised {
  background-color: #403e3f;
  border: 1px solid #282626;
  border-radius: 4px;
  padding: 5px 8px;
}

.raised:hover {
  background-color: #282626;
}

.terminal-input {
  border: none;
  min-width: 70%;

  color: $ubuntu_white;
  background: none;

  font-family: $ubuntu_font;
  font-size: large;

  &:active, &:focus {
    outline: none;
  }
}

.max-square, .min-square, .min {
  padding: 5px 8px;
  &:hover {
    background-color: #403e3f;
  }
}

@media only screen and (max-width: 991px) {
  .max-square, .min-square, .min {
    display: none;
  }
  .custom {
    display: none;
  }
  .close {
    display: none;
  }
  .raised {
    display: none;
  }
  .ubuntu__navigation-bar .nb__center {
    display: none;
  }
  .ubuntu__body {

    font-size: medium;
  }
  .terminal-input {
    font-size: medium;
    min-width: 100%;
  }
}