.about_me {
    margin: 1.5em 0 0 1em;
    width: calc(100% - 3.9rem);
    padding: 1em;
    border-collapse: collapse;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(33, 150, 243, 0.5);
}

.about_me:hover {
    background-color: rgba(33, 150, 243, 0.5);
}
@media only screen and (max-width: 650px) {
    .custom-table {
        font-size: .8em;
    }
}
.custom-table {
    margin: 0 0 0 1em;
    width: calc(100% - 1.9rem);
    border-collapse: collapse;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(33, 150, 243, 0.5);
}

.custom-table caption {
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.custom-table thead {
    background-color: rgba(20, 90, 145, 0.5); /* Dark background color */
    color: var(--secondary-color);
}

.custom-table th,
.custom-table td {
    padding: .8em;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.custom-table tbody tr:hover {
    background-color: rgba(33, 150, 243, 0.5); /* Darken on hover */
    color: white;
}

.skill-container {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    /*align-items: center;*/
}

.sec_sp {
    margin-bottom: calc(5rem + 5.128vw)
}

.table {
    background: unset;
}

.table td,
.table th {
    color: var(--text-color);
}

.t_border {
    border-color: var(--text-color) !important;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}

.section-title {
    font-size: 45px;
}

.service__title {
    padding: 8px 0;
    border-bottom: solid 2px var(--secondary-color);
}

.service-section .service-category-title {
    padding-bottom: 4px;
}


/*! CSS Used keyframes */

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}