.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Style the select element */
select {
  font-weight: bold;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  appearance: none; /* Remove default arrow in some browsers */
  background-color: var(--primary-color);
  cursor: pointer;
}

/* Style the options */
option {
  padding: 10px;
}

/* Style on hover/focus for better user experience */
select:hover, select:focus {
  border-color: #2196f3; /* Change to your preferred focus color */
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5); /* Change to your preferred box-shadow */
}

section {
  height: 100%;
  display: flex;
  flex-direction: column; /* Set the main axis to column */
  width: 100%;
  margin-bottom: 3em;
  /*padding: 1em 2em 1em 1em;*/
}

@media only screen and (max-width: 991px) {
  .s_c {
    padding-top: 40px;
  }
  :root {
    width: 100%; /* 100% of the parent container (in this case, the viewport) */
    min-height: 100vh; /* 100% of the viewport height */
    overflow-x: hidden; /* Hide horizontal overflow */
    display: flex;
    flex-direction: column;
    --bg-color: #0c0c0c;
    --primary-color: #0d0d0d;
    --secondary-color: #fff;
    --text-color: #fff;
    --text-color-2: #fff;
    --text-color-3: rgb(204, 0, 0);
    --overlay-color: rgb(12 12 12 / 63%);
  }
  body {
    padding-top: 5em;
  }
}

.page-enter {
  transform: translateY(100%);
}

.page-enter-active {
  transform: translateY(0%);
  transition: all 400ms ease-out;
}

.page-exit {
  transform: translateY(0%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.page-exit-active {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(-130%);
  transition: all 400ms ease-out;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    /*max-width: 1740px;*/
  }
}

.floating_button_language {
  position: fixed;
  top: 2%;
  left: 1%;
}

.language_image {
  height: 1.6rem;
  width: 2.8rem;
  background: none;
  border: none;
  margin: 0 .1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border-radius: .05rem
}

.language_image:hover {
  transform: scale(1.2);
}

.floating_button_up {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

.floating-button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 3em;
}