.stick_follow_icon {
    width: 20px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.stick_follow_icon svg {
    margin: 1.1em 1.1em 1.1em 0;
    width: 2.5em;
    height: 2.5em;
    fill: var(--text-color);
}

@media only screen and (max-width: 991px) {
    .stick_follow_icon {
        width: unset;
        height: unset;
        position: static;
        margin-top: unset;
        justify-content: center;
        padding: 40px 0;
        align-items: center;
    }
}